################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

package-lock.json
node_modules/
.next/
eslint.config.mjs
.vscode/settings.json
next-env.d.ts
